.downloadSection{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .downloadText{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .downloadTitle{
    max-width: 600px;
    font-weight: bolder;
    font-size: 60px;
    color: rgb(15, 210, 210);
  }
  .downloadSubtitle{
    max-width: 600px;
    font-size: 20px;
    color: rgb(127, 127, 127);
  }
  .downloadButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    button{
      width: max-content;
      height: max-content;
      cursor: pointer;
      font-size: medium;
      border: none;
      background-color: transparent;
    }
  }
  .downloadImage{
    max-width: 100%;
    height: auto;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.6s ease,
                transform 0.6s ease;
  }
  
  .fadeIn {
    opacity: 1;
    transform: translateY(0px);
  }
  
  @media screen and (max-width: 1300px) {
    .downloadSection{
      margin-top: 0px;
      flex-direction: column-reverse;
      gap: 2rem;
    }
    .downloadText{
      display: flex;
      align-items: center;
      text-align: center;
    }
  }
  @media screen and (max-width: 630px) {
    .downloadSection{
      padding: 15px;
    }
  }