.about-con {
    margin-top: 100px;
    display:inline-flexbox ;
    padding: 10px;
    
  }
  #team{
    width: 100%;
    box-shadow: none;
  }
  .tab-menu{
    width: 80%;
    margin:auto;
    
  }
  
  .tabs-list-con{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .tab li{
    font-size: 50px;
    
  }
  .vision-active-tab{
    color: #6c5a5a;
  }
  